[Unit]
Description=nimiq
After=multi-user.target
[Service]
Type=simple
ExecStart=/etc/systemd/system/nimiq start
User=root
WorkingDirectory=/etc/init.d
Restart=no
[Install]
WantedBy=multi-user.target
